# PyCity Schools Analysis

- Your analysis here

---I found that the average passing reading percentile is greater than the math which indicates that the overall school district does better in reading than in math. 

Also, by grade level the average math scores were about the same at 76% to 77%, while reading was steady at 80% to 81% still implying that the district does better with reading.

In [11]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [12]:
# Calculate the total number of unique schools
school_count = school_data.school_name.nunique()
school_count

15

In [13]:
# Calculate the total number of students
student_count =student_data["Student ID"].nunique()
student_count

39170

In [14]:
# Calculate the total budget
total_budget = school_data.budget.sum()
total_budget

24649428

In [15]:
# Calculate the average (mean) math score
average_math_score =school_data_complete.math_score.mean()
average_math_score

78.98537145774827

In [16]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete.reading_score.mean()
average_reading_score

81.87784018381414

In [17]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [18]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"]>=70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count)*100
passing_reading_percentage

85.80546336482001

In [19]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [32]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Schools":[school_count],
    "Total Students":[student_count],
    "Total Budget":[total_budget], 
    "Average Math Score":[average_math_score], 
    "Average Reading Score":[average_reading_score], 
    "% Passing Math":[passing_math_percentage],
    "% Passing Reading":[passing_reading_percentage],
    "% Overall Passing":[overall_passing_rate],
})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,school_name Bailey High School 0.002684 ...

## School Summary

In [33]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]

In [34]:
# Calculate the total student count per school from school_data
per_school_counts = school_data_complete.groupby('school_name')["Student ID"].sum()

In [35]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget =school_data.groupby('school_name')['budget'].sum()
per_school_capita =  school_data.groupby('school_name')['budget'].sum() / school_data_complete.groupby('school_name')["Student ID"].sum()

In [36]:
# Calculate the average test scores per school from school_data_complete
per_school_math =school_data_complete.groupby('school_name')['math_score'].mean()
per_school_reading = school_data_complete.groupby('school_name')['reading_score'].mean()

In [37]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math =school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["student_name"].count()
school_students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["student_name"].count().reset_index()

In [38]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading =school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["student_name"].count()
school_students_passing_reading =school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["student_name"].count().reset_index()

In [39]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [40]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [51]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary =pd.DataFrame({
    "School Type": [school_types],
    "Per School Counts":[per_school_counts],
    "Total School Budget":[per_school_budget],
    "Per Student Budget":[per_school_capita],
    "Average Math Score":[per_school_math],
    "Average Reading Score":[per_school_reading],
    "% Passing Math":[per_school_passing_math],
    "% Passing Reading":[per_school_passing_reading],
    "% Overall Passing":[overall_passing_rate],
})
per_school_summary["Total School Budget"] = pd.to_numeric(per_school_summary["Total School Budget"], errors='coerce')
per_school_summary["Per Student Budget"] = pd.to_numeric(per_school_summary["Per Student Budget"], errors='coerce')
# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary.head()

,School Type,Per School Counts,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School District ...,school_name Bailey High School 101303896...,NaN,NaN,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School Cabrera High School F...,Bailey High School Cabrera High School F...,school_name Bailey High School 0.002684 ...

## Highest-Performing Schools (by % Overall Passing)

In [52]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(by= '% Overall Passing', ascending=False)
top_schools.head(5)

,School Type,Per School Counts,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School District ...,school_name Bailey High School 101303896...,NaN,NaN,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School Cabrera High School F...,Bailey High School Cabrera High School F...,school_name Bailey High School 0.002684 ...

## Bottom Performing Schools (By % Overall Passing)

In [53]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools =per_school_summary.sort_values(by= '% Overall Passing', ascending=True)
bottom_schools.head(5)

,School Type,Per School Counts,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School District ...,school_name Bailey High School 101303896...,NaN,NaN,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School Cabrera High School F...,Bailey High School Cabrera High School F...,school_name Bailey High School 0.002684 ...

## Math Scores by Grade

In [54]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores =school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name")["math_score"].mean()
tenth_grader_math_scores =school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores =school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores =school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9th Grade Math Scores":[ninth_grade_math_scores],
    "10th Grade Math Scores":[tenth_grader_math_scores],
    "11th Grade Math Scores":[eleventh_grader_math_scores],
    "12th Grade Math Scores":[twelfth_grader_math_scores],
})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

,9th Grade Math Scores,10th Grade Math Scores,11th Grade Math Scores,12th Grade Math Scores
0,school_name Bailey High School 77.083676...,school_name Bailey High School 76.996772...,school_name Bailey High School 77.515588...,school_name Bailey High School 76.492218...

## Reading Score by Grade

In [55]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores =school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores =school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores =school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores =school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade =pd.DataFrame({
    "9th":[ninth_grade_reading_scores],
    "10th":[tenth_grader_reading_scores],
    "11th":[eleventh_grader_reading_scores],
    "12th":[twelfth_grader_reading_scores],
})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

,9th,10th,11th,12th
0,school_name Bailey High School 81.303155...,school_name Bailey High School 80.907183...,school_name Bailey High School 80.945643...,school_name Bailey High School 80.912451...

In [56]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [57]:
# Create a copy of the school summary for later aggregations
school_spending_df = per_school_summary.copy()

In [58]:
# Use `pd.cut` on the per_school_capita Series from earlier to categorize per student spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut (per_school_capita,spending_bins, labels=labels)

# Convert Spending Ranges (Per Student) to a string
school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)
school_spending_df
school_spending_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   School Type                    1 non-null      object
 1   Per School Counts              1 non-null      object
 2   Total School Budget            0 non-null      float64
 3   Per Student Budget             0 non-null      float64
 4   Average Math Score             1 non-null      object
 5   Average Reading Score          1 non-null      object
 6   % Passing Math                 1 non-null      object
 7   % Passing Reading              1 non-null      object
 8   % Overall Passing              1 non-null      object
 9   Spending Ranges (Per Student)  1 non-null      object
dtypes: float64(2), object(8)
memory usage: 212.0+ bytes

In [62]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

TypeError: agg function failed [how->mean,dtype->object]

In [63]:
# Assemble into DataFrame
spending_summary = pd.DataFrame ({
    "Average Math Score":[spending_math_scores],
    "Average Reading Score":[spending_reading_scores],
    "% Passing Math":[spending_passing_math],
    "% Passing Reading":[spending_passing_reading],
    "% Overall Passing":[overall_passing_spending],
})

# Display results
spending_summary

NameError: name 'spending_math_scores' is not defined

## Scores by School Size

In [64]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [65]:
# Create a copy of the school summary for later aggregations
school_size_df = per_school_summary.copy()

In [66]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorize school size based on the bins.
school_size_df["School Size"] =pd.cut(school_size_df["Total Students"], size_bins, labels=labels)

# Convert School Size to a string
school_size_df["School Size"] = school_size_df["School Size"].astype(str)
school_size_df

KeyError: 'Total Students'

In [67]:
# Calculate averages for the desired columns.
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
    "Small":[size_overall_passing],
    "Medium":[size_overall_passing]
    "Large":[size_overall_passing]
})
# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [70]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary =({
"Average Math":[average_math_score_by_type],
"Average Reading":[average_reading_score_by_type],
"Average Passing Math":[average_percent_passing_math_by_type],
"Average Passing Reading":[average_percent_passing_reading_by_type],
"Average % Overall Passing":[average_percent_overall_passing_by_type],
})

# Display results
type_summary

NameError: name 'average_math_score_by_type' is not defined